@font-face {
    font-family:'Visby Medium';
    font-style:normal;
    font-weight:400;
    src:local('Visby Medium'),url(dir/fonts/VisbyMedium.woff) format("woff")
    }
    
    @font-face {
    font-family:'Visby Semibold';
    font-style:normal;
    font-weight:400;
    src:local('Visby Semibold'),url(dir/fonts/VisbySemibold.woff) format("woff")
    }
    
    @font-face {
    font-family:'Visby Bold';
    font-style:normal;
    font-weight:400;
    src:local('Visby Bold'),url(dir/fonts/VisbyBold.woff) format("woff")
    }
    
    img {
    pointer-events:none
    }
    
    html,body {
    width:auto;
    height:100%
    }
    
    :root {
    --brown:#3F302B;
    --base:#00704A;
    --white:#fff;
    --black:#1E1E1E
    }

    #group-10 {
        margin-top: 5%;
        z-index: -10;
        position: absolute;
        width: 30%;
        left: 0;
    }

    #group-11 {
        margin-top: 5%;
        z-index: -10;
        position: absolute;
        width: 30%;
        right: 0;
    }
    
    nav {
    z-index:100;
    position:relative;
    padding-top:5px;
    padding-bottom:5px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    top:0;
    left:0;
    background-color:var(--white)
    }
    
    .ham-menu {
    display:none
    }
    
    .logo-nav-bar {
    display:flex;
    align-items:center
    }
    
    .logo-nav-bar img {
    width:220px;
    height:auto
    }
    
    .close-btn {
    display:none;
    position:absolute;
    top:40px;
    right:20px;
    background:none;
    border:none;
    font-size:1.5em;
    cursor:pointer
    }
    
    .left-nav {
    width:55%;
    left:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative
    }
    
    .left-nav ul {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:30px;
    list-style:none
    }
    
    .left-nav ul li a {
    font-size:14px;
    text-decoration:none;
    color:var(--black);
    font-weight:550;
    font-family:'Visby Medium';
    transition:.3s ease
    }
    
    .left-nav ul li a:hover {
    color:var(--base)
    }
    
    .right-nav {
    margin-right:5%;
    width:20%;
    right:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
    gap:40px
    }
    
    .group-icon-nav {
    display:flex;
    line-height:28px;
    align-items:center;
    position:relative
    }
    
    .input-search-nav {
    width:100%;
    height:40px;
    line-height:25px;
    padding:0 1rem;
    padding-left:2.2rem;
    border:2px solid transparent;
    border-radius:53px;
    box-shadow:0 1.512px 22.68px 0 #0003;
    outline:none;
    background-color:var(--white);
    color:var(--black);
    transition:.3s ease
    }
    
    .input-search-nav::placeholder {
    color:#9e9ea7
    }
    
    .input-search-nav:focus,input:hover {
    outline:none;
    border-color:var(--base);
    background-color:#fff
    }
    
    .icon-nav-search {
    position:absolute;
    left:1rem;
    fill:#9e9ea7;
    width:1rem;
    height:1rem
    }
    
    .account-icon-nav {
    border-radius:39.854px;
    background:var(--white);
    border:none;
    box-shadow:0 0 14.095px 0 #0003;
    width:51px;
    height:52px;
    padding:12px
    }
    
    .cart-button-nav {
    border-radius:39.854px;
    background:var(--white);
    border:none;
    box-shadow:0 0 14.095px 0 #0003;
    width:51px;
    height:52px;
    padding:12px
    }
    
    .cart-button-nav small {
    position:absolute;
    margin-top:-15px;
    padding:4px 8px;
    font-size:14px;
    font-weight:700;
    border-radius:50%;
    color:var(--white);
    background:var(--base)
    }
    
    .starbucks-swiper-section {
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
    }
    
    .swiper-area-slide-parent {
    top:7%;
    position:relative;
    width:100%;
    height:auto
    }
    
    .slide {
    flex-wrap:wrap;
    position:absolute;
    width:100%;
    height:auto;
    transition:transform .2s ease-in-out,opacity .3s ease-in-out;
    opacity:0;
    display:flex;
    align-items:center;
    justify-content:center
    }
    
    .slide.active {
    opacity:1;
    transform:translateX(0)
    }
    
    .slide.left {
    transform:translateX(0)
    }
    
    .slide.right {
    transform:translateX(0)
    }
    
    .slide-body {
    width:90%;
    height:auto;
    justify-content:center;
    display:flex;
    align-items:center;
    flex-wrap:wrap
    }
    
    .left-text-slide-body {
    width:35%;
    position:relative;
    display:flex;
    flex-direction:column;
    gap:0
    }
    
    .left-text-slide-body h1 {
    color:var(--black);
    font-family:'Visby SemiBold';
    font-size:57px;
    font-style:normal;
    font-weight:700;
    line-height:60px
    }
    
    .left-text-slide-body p {
    color:var(--black);
    font-family:"inter";
    font-size:14px;
    width:90%;
    font-style:normal;
    font-weight:500;
    text-align:justify;
    line-height:18px
    }
    
    .button-left-side {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:60px
    }
    
    .button-left-side h2 {
    color:var(--black);
    font-family:'Inter';
    font-size:45px;
    font-style:normal;
    font-weight:800;
    line-height:30px
    }
    
    .button-left-side button {
    display:flex;
    align-items:center;
    gap:10px;
    padding-block:5px;
    padding-inline:20px;
    color:#1e1e1ecc;
    font-family:Inter;
    font-size:14px;
    font-style:normal;
    font-weight:400;
    line-height:15px;
    border-radius:40px;
    border:2px solid var(--base);
    background:var(--white);
    box-shadow:0 5.701px 5.701px 0 #00000040;
    transition:.2s ease-in
    }
    
    .button-left-side button:hover {
    cursor:pointer;
    background-color:var(--base);
    color:var(--white)
    }
    
    .button-left-side button:hover svg {
    background-color:var(--white);
    border-radius:50%
    }
    
    .img-sec-swipper-mid {
    margin-top:-120px;
    position:relative;
    width:50%
    }
    
    #back-circle {
    width:53%;
    position:relative;
    height:auto;
    filter:brightness(110%)
    }
    
    #coffee-main {
    z-index:3;
    width:35%;
    height:auto;
    flex-shrink:0;
    position:absolute;
    left:11%;
    top:10px;
    filter:drop-shadow(0 0.2rem 0.25rem #0003)
    }
    
    #splash-left {
    z-index:1;
    left:15px;
    position:absolute;
    width:20%;
    height:auto;
    margin-top:-25%
    }
    
    #splash-right {
    z-index:1;
    margin-left:20%;
    margin-top:-25%;
    position:absolute;
    width:40%;
    height:auto
    }
    
    .description-box-swipper {
    position:absolute;
    margin-top:-13%;
    margin-left:15%;
    display:flex;
    flex-direction:column;
    width:40%;
    background-color:#ffffff86;
    border-radius:20px;
    box-shadow:0 2px 15px 0 #0000004d;
    padding:5% 10px 20px 8%
    }
    
    .description-box-swipper h1 {
    position:relative;
    z-index:3;
    color:var(--black);
    text-shadow:0 1px 0 var(--white);
    font-family:"Visby Semibold";
    font-size:22px;
    font-style:normal;
    font-weight:700;
    line-height:24px;
    letter-spacing:1.2px
    }
    
    .description-box-swipper h2 {
    position:relative;
    z-index:3;
    color:var(--black);
    text-shadow:1px 1px 0 var(--white);
    font-family:"Visby Medium";
    font-size:12px;
    font-style:normal;
    font-weight:700;
    line-height:normal
    }
    
    .right-text-swipper-sec {
    display:flex;
    flex-direction:column;
    gap:15px;
    position:relative;
    width:15%
    }
    
    .tab-info-swipper {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:15px
    }
    
    .tab-info-swipper img {
    width:70px;
    height:70px;
    object-fit:contain
    }
    
    .info-tab-swipper h1 {
    color:var(--black);
    font-family:"Visby Semibold";
    font-size:14px;
    font-style:normal;
    font-weight:700;
    line-height:normal
    }
    
    .info-tab-swipper h2 {
    color:var(--black);
    font-family:'Inter';
    font-size:10px;
    font-style:normal;
    font-weight:500;
    line-height:normal
    }
    
    .button-swipper {
    position:relative;
    margin-top:65px;
    top:61%;
    display:flex;
    width:100%;
    justify-content:center
    }
    
    .background-button-swipper {
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:55px;
    align-items:center;
    border-radius:30px;
    padding-bottom:20px;
    width:70%;
    background-color:var(--brown)
    }
    
    .background-button-swipper svg {
    transition:.19s ease-in;
    margin-inline:2px
    }
    
    .button-left-slide svg:hover {
    box-shadow:#00000059 0 5px 15px;
    cursor:pointer;
    border-radius:50%;
    transform:translatex(-10%)
    }
    
    .button-right-slide svg:hover {
    box-shadow:#00000059 0 5px 15px;
    cursor:pointer;
    border-radius:50%;
    transform:translatex(10%)
    }
    
    .img-section-button {
    margin-top:-50px;
    position:relative;
    display:flex;
    flex-direction:row;
    gap:50px
    }
    
    .coffee-option-button {
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    gap:1px;
    transition:.19s ease-in
    }
    
    .coffee-option-button:hover {
    cursor:pointer;
    margin-top:-15px
    }
    
    .coffee-option-button img {
    object-fit:cover;
    backdrop-filter:drop-shadow(4px 4px 10px var(--black));
    width:130px;
    height:130px;
    position:relative
    }
    
    .coffee-option-button h1 {
    color:var(--white);
    font-family:"Visby Medium";
    font-size:16px;
    font-style:normal;
    font-weight:200;
    line-height:normal
    }
    
    .coffee-option-button button {
    display:flex;
    align-items:center;
    gap:10px;
    padding:6px 16px;
    border-radius:6.722px;
    border:2.5px solid var(--white);
    background:var(--base);
    color:var(--white);
    font-family:"inter";
    font-size:12.1px;
    font-weight:400
    }
    
    #coffe-absolute {
    left:0;
    margin-left:30px;
    margin-top:-30px;
    width:10%;
    position:absolute
    }

    .handcrafted {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .head-handcrafted {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

    .head-handcrafted img {
        width: 150px;
        height: auto;
    }

    .handcrafted-sec {
        border-radius: 40px;
        background: var(--base);
        padding: 15px 30px 30px 30px;
        width: 90%;
        position: relative;
    }

    .handcrafted-sec h1 {
        color: var(--white);
font-family: "Visby Semibold";
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }

    #handcrafted-bold {
        color: var(--white);
        font-family: "Visby Semibold";
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .handcrafted-categories {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    .item-catogory {
        justify-content: center;
        border-radius: 25px;
background: rgba(217, 217, 217, 0.15);
width: 190px;
height: 230px;
        padding: 5px 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .2s ease;
    }

    .item-catogory:hover {
        cursor: pointer;
        transform: scale(1.03);
        background-color: #ffffff72;
    }

    .item-catogory img {
        filter: drop-shadow(0px 2px 30px #ffffff);        
        width: 65%;
        height: auto;
    }

    .item-catogory h2 {
        color: var(--white);
text-align: center;
font-family: "inter";
font-size: 22.838px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.142px;
    }

    .happyhour {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .text-container-happyhour {
        width: 100%;
        position: relative;
        margin-bottom: 10%;

    }

    .text-container-happyhour img {
        position: absolute;
        width: 25%;
        height: auto;
    }
    
    .item-container-handcrafted {
        width: 50%;
        position: relative;
        left: 50%;
    }

    .item-container-handcrafted h1 {
        color: var(--base);
font-family: "Visby Bold";
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 87px; /* 103.571% */
letter-spacing: 4.2px;
    }

    .item-container-handcrafted h2 { 
        color: #8B8888;
        font-family: "inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.9px;

    }

    .item-container-handcrafted a { 
        color: var(--base);
        font-family: "inter";
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.1px;
    }

    .item-list-happy-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .happyhour-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 290px;
height: 540px;
padding: 5px 10px 20px 10px;
border-radius: 38.363px;
background: rgba(195, 156, 123, 0.20);
transition: .5s ease-in;
border: 4px solid var(--white);
    }

    .happyhour-items:hover {
        border: 4px solid var(--base);
background: url(dir/img/on-hover-img/Group\ 14.png);
    }

    .happyhour-items:hover h1{
        color: var(--white);
    }

    .happyhour-items:hover h2 {
        color: var(--white);
    }
    .happyhour-items:hover select {
        color: var(--base);
        border: var(--base);
    }

  

    .happyhour-items img{
        filter: drop-shadow(2px 2px 14px #0000004e);
        position: relative;
        top: -50px;
        width: 170px;
        height: auto;
    }

    .item-list-happyhour {
        top: -50px;
        width: 90%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .item-list-happyhour h1 {
        color: #D3C4B4;
font-family: "inter";
font-size: 28px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 2px;
    }

    .options-two-categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .options-two-categories h2 {
        width: 50px;
        color: #D3C4B4;
font-family: "inter";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }

    .options-two-categories select {
        color: #D3C4B4;
        font-family: "inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
padding: 4px 10px;
gap: 8.44px;
border-radius: 8.44px;
border: 2px solid #D3B9A5;
background: #FFF;
    }

    .happyhour-items:hover button {
        border: none;
        cursor: pointer;
        border-radius: 10px;
        background: var(--white);
        color: var(--base);
font-family: "inter";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.374px;
padding: 10px 30px;

    }

    .happyhour-items button {
        border: none;
        border-radius: 10px;
        background: var(--white);
        color: #D3C4B4;
font-family: "inter";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.374px;
padding: 10px 30px;

    }

    .left-side-summer-refresh {
        width: 40%;
        position: relative;
        height: auto;
    }

    .text-head-left  {
        display: flex;
        gap: 25px;
        align-items: center;
        position: relative;
    }

    .line-vertical {
        display: block;
        position: relative;
        width: 15px;
height: 50px;
background: var(--base);
    }
    
    #summer-bold {
        color: var(--black);
font-family: "visby Semibold";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.377px;
    }

    .summer-refreshers {
        margin-top: 5%;
        margin-bottom: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }



    .text-head-left h1 {
        color: var(--base);
        font-family: "visby Semibold";
        font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.901px;
    }

    .left-side-img img {
        width: 75%;
        height: auto;
        object-fit: cover;
        position: relative;
        border-radius: 47.537px;
        border: 7.606px solid var(--base);
        box-shadow: 0px 2.51px 31.381px 0px rgba(0, 0, 0, 0.30);
    }

    .left-side-img {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    
    .slide-show-container {
        position: absolute;
        width: 100%;
        transition: opacity 1s ease-in-out;
        opacity: 0;
    }

    .right-side-summer-refresh {
        width: 35%;
        height: auto;
        position: relative;
    }

    .right-side-img {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: relative;
    }
    
    .right-side-img-sub {
        width: 100%;
        height: auto;
        position: relative;
      
    }

    .right-side-img-sub img {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 30px;
border: 7.743px solid #00704A;
box-shadow: 0px 1.936px 29.035px 0px rgba(0, 0, 0, 0.70);
    }

    .right-summer-text-sub {
        display: flex;
        align-items:last baseline;
        position: relative;
        top: -80px;
        left: 65%;
    }
  


 

    .slide-show-container.active {
        opacity: 1;
    }

    .about-quality-sec {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    
    .text-about-sec {
        margin-left: 3%;
        width: 40%;
        height: auto;
    }

    .text-about-sec h1 {
        color: var(--base);
        -webkit-text-stroke-width: 6;
        -webkit-text-stroke-color: #FFF;
        font-family: "Visby Semibold";
        font-size: 84px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 5.5px;
    }
    
    .text-about-sec p {
        text-align: justify;
        color: var(--black);
        font-family: "inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 187.5% */
    }
    
    .about-quality-sec img {
    
        width: 40%;
        height: auto;    }
    

    footer {
        flex-wrap: wrap;
        width: 100%;
        border-top: 4px solid var(--base);
        padding-top: 2%;
        margin-top: 5%;
        padding-bottom: 8px;
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    #footer-bootom-head {
text-align: center;
font-family: "Visby Regular";
font-size: 16px;
letter-spacing: 3px;
color: #909090;
    }

    #bold {
        font-family: "Visby Semibold";
        color: var(--base);
    }

    .top-footer-sec {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 130px;

    }

    #left-foot {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 280px;
        gap: 10px;
    }

.logo-sec-foot {
    height: auto;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--white);
    border: 3px solid var(--base);
}
    .logo-sec-foot img {
        width: 100%;
        height: auto;
        border-bottom: 3px solid #afafaf;
        padding-bottom: 5px;
        border-radius: 3px;
    }

    .footer-icons {
        margin-left: 15px;
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
    }

    .footer-icons svg {
        width: 25px;
        height: 25px;
        padding: 6px;
        border-radius: 50%;
        border: 2px solid var(--base);
    }

    .foot-links h1 {
        color: var(--black);
        font-family: "inter";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
    }

   .foot-links span {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
   }

   .foot-links span a {
    color: var(--black);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
    letter-spacing: 1px;
    transition: .5s ease;
   }

   
   .foot-links span a:hover {
    color: var(--base);
   }

   #app-stores {
    display: flex;
    align-items: center;
    width: 68%;
    gap: 10px;
    position: relative;
   }
   #app-stores img {
    border: 3px solid var(--base);
    border-radius: 10px;
    width: 80%;
    height: auto;
    object-fit: cover;
   }
    
    @media only screen and (max-width: 750px) {

        
    .item-catogory {
 
width: 240px;
height: 260px;
       }

    .item-catogory img {
        width: 65%;
        height: auto;
    }




        .head-handcrafted {
            width: 90%;
            display: flex;
            flex-direction: row;
            position: relative;
            align-items: center;
            justify-content: space-between;
        }
    
        .head-handcrafted img {
           display: none;
        }

        .handcrafted-sec h1 {
            color: var(--white);
    font-family: "Visby Semibold";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
        }
    
        #handcrafted-bold {
            color: var(--white);
            font-family: "Visby Semibold";
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    

        .text-container-happyhour {
            margin-bottom: 30%;
    
        }
    
        .text-container-happyhour img {
            position: absolute;
            width: 75%;
        }
        
        .item-container-handcrafted {
            margin-left: 5%;
            width: 90%;
            left: 0%;
        }
        
    .summer-refreshers {
        flex-direction: column;
        margin-bottom: 20%;
    }

    .left-side-summer-refresh {
        width: 90%;
        position: relative;
        height: auto;
    }

    .text-head-left  {
        display: flex;
        gap: 25px;
        align-items: center;
        position: relative;
    }


    
    #summer-bold {
    
font-size: 25px;
    }
    

    .text-head-left h1 {

        font-size: 18px;

    }

    .left-side-img img {
        width: 95%;
        height: auto;
    }

    .left-side-img {
        width: 100%;
        height: 550px;
     
    }


    .right-side-summer-refresh {
        width: 95%;

    }


        .about-quality-sec img {
            width: 100%;
            height: auto;    }
        
            
    .text-about-sec {
        margin-left: 3%;
        width: 80%;
        height: auto;
    }

    .text-about-sec h1 {
       
        font-size: 66px;
        
    }
    
    .text-about-sec p {
        text-align: justify;
        
        font-size: 14px;
        font-style: normal;
       
    }

        .about-quality-sec {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }

   #app-stores {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 10px;
    position: relative;
   }
   #app-stores img {
    border: 3px solid var(--base);
    border-radius: 10px;
    width: 60%;
    height: auto;
    object-fit: cover;
   }

        #left-foot {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            gap: 10px;
        }

        .top-footer-sec {
            flex-wrap: wrap;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            padding-left: 30px;
            justify-content: flex-start;
            gap: 80px;
    
        }

        .logo-sec-foot {
            height: auto;
            border-radius: 15px;
            padding: 10px 20px 10px 20px;
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: var(--white);
            border: 3px solid var(--base);
        }
    .ham-menu {
    display:block
    }
    
    .logo-nav-bar img {
    width:180px;
    height:auto
    }
    
    .left-nav {
    width:55%;
    left:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative
    }
    
    .left-nav ul {
    margin-top:-1%;
    flex-direction:column;
    align-items:flex-start;
    gap:30px;
    list-style:none;
    display:flex;
    position:fixed;
    left:0;
    top:0;
    z-index:150;
    height:100%;
    width:220px;
    background-color:var(--base);
    flex-direction:column;
    align-items:flex-start;
    padding-top:120px;
    transform:translateX(-100%);
    transition:.4s ease
    }
    
    .left-nav ul li a {
    font-size:18px;
    text-decoration:none;
    color:var(--white)
    }
    
    .nav-links.open {
    transform:translateX(0)
    }
    
    .close-btn {
    color:var(--white);
    display:block
    }
    
    .right-nav {
    margin-right:3%;
    width:30%;
    right:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
    gap:25px
    }
    
    .group-icon-nav {
    display:none
    }
    
    .input-search-nav {
    display:none
    }
    
    .account-icon-nav {
    border-radius:39.854px;
    background:var(--white);
    border:none;
    box-shadow:0 0 14.095px 0 #0003;
    width:49px;
    height:50px;
    padding:12px
    }
    
    .cart-button-nav {
    border-radius:39.854px;
    background:var(--white);
    border:none;
    box-shadow:0 0 14.095px 0 #0003;
    width:49px;
    height:50px;
    padding:12px
    }
    
    .cart-button-nav small {
    position:absolute;
    top:12px;
    padding:4px 8px;
    font-size:14px;
    font-weight:700;
    border-radius:50%;
    color:var(--white);
    background:var(--base)
    }
    
    .starbucks-swiper-section {
    position:relative;
    width:100%;
    height:1100px;
    overflow:hidden
    }
    
    .swiper-area-slide-parent {
    top:1%;
    position:relative;
    width:100%;
    height:auto
    }
    
    .slide {
    user-select:text;
    position:absolute;
    width:100%;
    height:auto;
    transition:transform .2s ease-in-out,opacity .3s ease-in-out;
    opacity:0;
    display:flex;
    align-items:center;
    justify-content:center
    }
    
    .slide-body {
    width:100%;
    height:auto;
    justify-content:center;
    display:flex;
    flex-direction:column;
    gap:140px;
    align-items:center
    }
    
    .left-text-slide-body {
    width:90%;
    position:relative;
    display:flex;
    flex-direction:column;
    gap:0
    }
    
    .left-text-slide-body h1 {
    color:var(--black);
    font-family:'Visby SemiBold';
    font-size:45px;
    font-style:normal;
    font-weight:700;
    line-height:50px
    }
    
    .left-text-slide-body p {
    color:var(--black);
    font-family:"inter";
    font-size:14px;
    width:90%;
    font-style:normal;
    font-weight:500;
    text-align:justify;
    line-height:15px
    }
    
    .button-left-side {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:30px
    }
    
    .button-left-side h2 {
    color:var(--black);
    font-family:'Inter';
    font-size:45px;
    font-style:normal;
    font-weight:800;
    line-height:30px
    }
    
    .button-left-side button {
    display:flex;
    align-items:center;
    gap:10px;
    padding-block:5px;
    padding-inline:20px;
    color:#1e1e1ecc;
    font-family:Inter;
    font-size:14px;
    font-style:normal;
    font-weight:400;
    line-height:15px;
    border-radius:40px;
    border:2px solid var(--base);
    background:var(--white);
    box-shadow:0 5.701px 5.701px 0 #00000040;
    transition:.2s ease-in
    }
    
    .button-left-side button:hover {
    cursor:pointer;
    background-color:var(--base);
    color:var(--white)
    }
    
    .button-left-side button:hover svg {
    background-color:var(--white);
    border-radius:50%
    }
    
    .img-sec-swipper-mid {
    margin-top:-120px;
    position:relative;
    width:100%
    }
    
    #back-circle {
    width:100%;
    position:relative;
    height:auto;
    filter:brightness(110%)
    }
    
    #coffee-main {
    z-index:3;
    width:50%;
    height:auto;
    flex-shrink:0;
    position:absolute;
    left:23%;
    top:10px;
    filter:drop-shadow(0 0.2rem 0.25rem #0003)
    }
    
    #splash-left {
    z-index:1;
    left:15px;
    position:absolute;
    width:30%;
    height:auto;
    margin-top:-45%
    }
    
    #splash-right {
    z-index:1;
    margin-left:18%;
    margin-top:-25%;
    position:absolute;
    width:60%;
    height:auto
    }
    
    .description-box-swipper {
    position:absolute;
    margin-top:-13%;
    margin-left:15%;
    display:flex;
    flex-direction:column;
    width:60%;
    background-color:#ffffff86;
    border-radius:20px;
    box-shadow:0 2px 15px 0 #0000004d;
    padding:4% 10px 15px 7%
    }
    
    .description-box-swipper h1 {
    position:relative;
    z-index:3;
    color:var(--black);
    text-shadow:0 1px 0 var(--white);
    font-family:"Visby Semibold";
    font-size:22px;
    font-style:normal;
    font-weight:700;
    line-height:25px;
    letter-spacing:1.3px
    }
    
    .description-box-swipper h2 {
    position:relative;
    z-index:3;
    color:var(--black);
    text-shadow:1px 1px 0 var(--white);
    font-family:"Visby Medium";
    font-size:12px;
    font-style:normal;
    font-weight:700;
    line-height:normal
    }
    
    .right-text-swipper-sec {
    display:none
    }
    
    .button-swipper {
    top:80%;
    position:relative;
    display:flex;
    width:100%;
    justify-content:center
    }
    
    .background-button-swipper {
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:55px;
    padding-top:20px;
    align-items:center;
    border-radius:30px;
    padding-bottom:20px;
    width:70%;
    background-color:var(--brown)
    }
    
    .img-section-button {
    margin-top:-10px;
    position:relative;
    display:flex;
    flex-direction:column;
    gap:50px
    }
    
    .coffee-option-button {
    display:none
    }
    
    #coffe-absolute {
    left:0;
    margin-left:2%;
    margin-top:-10%;
    width:25%;
    position:absolute
    }
    }
    
    @media only screen and (min-width:760px) and (max-width: 1023px) {

        
        

    .summer-refreshers {
        margin-top: 5%;
        margin-bottom: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }



    .text-head-left h1 {
        color: var(--base);
        font-family: "visby Semibold";
        font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.901px;
    }

    .left-side-img img {
        width: 85%;

    }

    .left-side-img {
        position: relative;
        width: 100%;
        height: 450px;
        overflow: hidden;
    }
    
    .slide-show-container {
        position: absolute;
        width: 100%;
        transition: opacity 1s ease-in-out;
        opacity: 0;
    }

    .right-side-summer-refresh {
        width: 40%;
        height: auto;
        position: relative;
    }

    .right-side-img {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: relative;
    }
    
    .right-side-img-sub {
        width: 100%;
        height: auto;
        position: relative;
      
    }

    .right-side-img-sub img {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 30px;
border: 7.743px solid #00704A;
box-shadow: 0px 1.936px 29.035px 0px rgba(0, 0, 0, 0.70);
    }

    .right-summer-text-sub {
        display: flex;
        align-items:last baseline;
        position: relative;
        top: -80px;
        left: 65%;
    }
  

    .about-quality-sec {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    
    .text-about-sec {
        margin-left: 3%;
        width: 40%;
        height: auto;
    }

    .text-about-sec h1 {

        font-size: 74px;
    
    }
    
    .text-about-sec p {

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px; /* 187.5% */
    }
    
    .about-quality-sec img {
    
        width: 55%;
        height: auto;    }
    

    .ham-menu {
    display:block
    }
    
    .logo-nav-bar img {
    width:180px;
    height:auto
    }
    
    .left-nav {
    width:55%;
    left:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative
    }
    
    .left-nav ul {
    margin-top:-1%;
    flex-direction:column;
    align-items:flex-start;
    gap:30px;
    list-style:none;
    display:flex;
    position:fixed;
    left:0;
    top:0;
    z-index:150;
    height:100%;
    width:220px;
    background-color:var(--base);
    flex-direction:column;
    align-items:flex-start;
    padding-top:120px;
    transform:translateX(-100%);
    transition:.4s ease
    }
    
    .left-nav ul li a {
    font-size:18px;
    text-decoration:none;
    color:var(--white)
    }
    
    .nav-links.open {
    transform:translateX(0)
    }
    
    .close-btn {
    color:var(--white);
    display:block
    }
    
    .right-nav {
    margin-right:5%;
    width:15%;
    right:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
    gap:25px
    }
    
    .group-icon-nav {
    display:none
    }
    
    .input-search-nav {
    display:none
    }
    
    .account-icon-nav {
    border-radius:39.854px;
    background:var(--white);
    border:none;
    box-shadow:0 0 14.095px 0 #0003;
    width:49px;
    height:50px;
    padding:12px
    }
    
    .cart-button-nav {
    border-radius:39.854px;
    background:var(--white);
    border:none;
    box-shadow:0 0 14.095px 0 #0003;
    width:49px;
    height:50px;
    padding:12px
    }
    
    .cart-button-nav small {
    position:absolute;
    top:12px;
    padding:4px 8px;
    font-size:14px;
    font-weight:700;
    border-radius:50%;
    color:var(--white);
    background:var(--base)
    }
    
    .starbucks-swiper-section {
    position:relative;
    width:100%;
    height:800px;
    overflow:hidden;
    margin-bottom:0
    }
    
    .swiper-area-slide-parent {
    right:5%;
    top:10%;
    position:relative;
    width:100%;
    height:auto
    }
    
    .slide {
    position:absolute;
    width:100%;
    height:auto;
    transition:transform .2s ease-in-out,opacity .3s ease-in-out;
    opacity:0;
    display:flex;
    align-items:center;
    justify-content:center
    }
    
    .slide.active {
    opacity:1;
    transform:translateX(0)
    }
    
    .slide.left {
    transform:translateX(0)
    }
    
    .slide.right {
    transform:translateX(0)
    }
    
    .slide-body {
    width:95%;
    height:auto;
    justify-content:center;
    display:flex;
    align-items:center;
    gap:5px
    }
    
    .left-text-slide-body {
    width:30%;
    position:relative;
    display:flex;
    flex-direction:column;
    gap:10px
    }
    
    .left-text-slide-body h1 {
    color:var(--black);
    font-family:'Visby SemiBold';
    font-size:40px;
    font-style:normal;
    font-weight:700;
    line-height:45px
    }
    
    .left-text-slide-body p {
    color:var(--black);
    font-family:"inter";
    font-size:11px;
    width:80%;
    font-style:normal;
    font-weight:500;
    text-align:justify;
    line-height:18px
    }
    
    .button-left-side {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:20px
    }
    
    .button-left-side h2 {
    color:var(--black);
    font-family:'Inter';
    font-size:35px;
    font-style:normal;
    font-weight:800;
    line-height:30px
    }
    
    .button-left-side button {
    display:flex;
    align-items:center;
    gap:5px;
    padding-block:5px;
    padding-inline:20px;
    color:#1e1e1ecc;
    font-family:Inter;
    font-size:12px;
    font-style:normal;
    font-weight:600;
    line-height:15px;
    border-radius:40px;
    border:2px solid var(--base);
    background:var(--white);
    box-shadow:0 5.701px 5.701px 0 #00000040;
    transition:.2s ease-in
    }
    
    .img-sec-swipper-mid {
    margin-top:-80px;
    position:relative;
    width:50%
    }
    
    #back-circle {
    width:90%;
    position:relative;
    height:auto;
    filter:brightness(110%)
    }
    
    #coffee-main {
    z-index:3;
    width:50%;
    height:auto;
    flex-shrink:0;
    position:absolute;
    left:20%;
    top:15px;
    filter:drop-shadow(0 0.2rem 0.25rem #0003)
    }
    
    #splash-left {
    z-index:1;
    left:15px;
    position:absolute;
    width:30%;
    height:auto;
    margin-top:-30%
    }
    
    #splash-right {
    z-index:1;
    margin-left:15%;
    margin-top:-25%;
    position:absolute;
    width:60%;
    height:auto
    }
    
    .description-box-swipper {
    position:absolute;
    margin-top:-13%;
    margin-left:15%;
    display:flex;
    flex-direction:column;
    width:60%;
    background-color:#ffffff86;
    border-radius:20px;
    box-shadow:0 2px 15px 0 #0000004d;
    padding:5% 10px 15px 7%
    }
    
    .description-box-swipper h1 {
    position:relative;
    z-index:3;
    color:var(--black);
    text-shadow:0 1px 0 var(--white);
    font-family:"Visby Semibold";
    font-size:22px;
    font-style:normal;
    font-weight:700;
    line-height:25px;
    letter-spacing:1.2px
    }
    
    .right-text-swipper-sec {
    display:flex;
    flex-direction:column;
    gap:20px;
    position:relative;
    width:5%
    }
    
    .tab-info-swipper {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px
    }
    
    .tab-info-swipper img {
    width:50px;
    height:50px;
    object-fit:contain
    }
    
    .info-tab-swipper h1 {
    color:var(--black);
    font-family:"Visby Semibold";
    font-size:10px;
    font-style:normal;
    font-weight:700;
    line-height:normal
    }
    
    .info-tab-swipper h2 {
    display:none
    }
    
    .button-swipper {
    top:71%;
    position:relative;
    display:flex;
    width:100%;
    justify-content:center
    }
    
    .background-button-swipper {
    display:flex;
    flex-direction:row;
    padding-left:10px;
    padding-right:10px;
    justify-content:center;
    gap:10px;
    align-items:center;
    border-radius:30px;
    padding-bottom:20px;
    width:90%;
    background-color:var(--brown)
    }
    
    .img-section-button {
    margin-top:-50px;
    position:relative;
    display:flex;
    flex-direction:row;
    gap:30px
    }
    
    .coffee-option-button {
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    gap:1px;
    transition:.19s ease-in
    }
    
    .coffee-option-button:hover {
    cursor:pointer;
    margin-top:-15px
    }
    
    .coffee-option-button img {
    object-fit:cover;
    backdrop-filter:drop-shadow(4px 4px 10px var(--black));
    width:100px;
    height:100px;
    position:relative
    }
    
    .coffee-option-button h1 {
    color:var(--white);
    font-family:"Visby Medium";
    font-size:12px;
    text-align:center;
    font-style:normal;
    font-weight:200;
    line-height:normal;
    text-wrap:5px
    }
    
    .coffee-option-button button {
    display:flex;
    align-items:center;
    gap:10px;
    padding:7px 10px;
    border-radius:6.722px;
    border:2.5px solid var(--white);
    background:var(--base);
    color:var(--white);
    font-family:"inter";
    font-size:9px;
    font-weight:400
    }
    
    #coffe-absolute {
    left:0;
    margin-left:5px;
    margin-top:-20px;
    width:15%;
    position:absolute
    }
    }


    @media only screen and (min-width:1024px) and (max-width: 1320px) {

        .starbucks-swiper-section {
            position:relative;
            width:100%;
            height:100%;
            overflow:hidden;
            }
            
            .swiper-area-slide-parent {
            top:2%;
            position:relative;
            width:100%;
            height:auto
            }
            
            
            .slide-body {
            width:95%;
            height:auto;
            justify-content:center;
            display:flex;
            align-items:center;
            flex-wrap:wrap
            }
            
            .left-text-slide-body {
            width:35%;
            position:relative;
            display:flex;
            flex-direction:column;
            gap:0
            }
            
            .left-text-slide-body h1 {
            color:var(--black);
            font-family:'Visby SemiBold';
            font-size:45px;
            }
            
            .left-text-slide-body p {
            color:var(--black);
            font-family:"inter";
            font-size:12px;
            width:90%;
            font-style:normal;
            font-weight:500;
            text-align:justify;
            line-height:18px
            }
            
            .button-left-side {
            display:flex;
            flex-direction:row;
            align-items:center;
            gap:40px
            }
            
            .button-left-side h2 {
            color:var(--black);
            font-family:'Inter';
            font-size:40px;
            font-style:normal;
            font-weight:800;
            line-height:30px
            }
            
            .img-sec-swipper-mid {
            margin-top:-110px;
            position:relative;
            width:50%
            }
            
            #back-circle {
            width:60%;
            }
            
            #coffee-main {
            z-index:3;
            width:36%;
            left:15%;
            top:10px;
            }
            
    
            
            #splash-right {
            z-index:1;
            margin-left:25%;
            }
            
            .description-box-swipper {
            width:50%;
            }

            .right-text-swipper-sec {
            display:flex;
            flex-direction:column;
            gap:15px;
            position:relative;
            width:15%
            }
            
  
            .tab-info-swipper img {
            width:40px;
            height:40px;
            object-fit:contain
            }
            
            .info-tab-swipper h1 {
            color:var(--black);
            font-family:"Visby Semibold";
            font-size:12px;
            font-style:normal;
            font-weight:700;
            line-height:normal
            }
            
            .info-tab-swipper h2 {
            color:var(--black);
            font-family:'Inter';
            font-size:8px;
            font-style:normal;
            font-weight:500;
            line-height:normal
            }
            
            .button-swipper {
            top:480px;
            }
            
            .background-button-swipper {
            width:95%;
            background-color:var(--brown)
            }
            

            


    .head-handcrafted img {
        width: 100px;
        height: auto;
    }

   

    .handcrafted-sec h1 {
    
font-size: 50px;

    }



    .handcrafted-categories {
        gap: 30px;
        justify-content: center;
    }

    .item-catogory {
        justify-content: center;
        border-radius: 25px;
background: rgba(217, 217, 217, 0.15);
width: 120px;
height: 180px;
        padding: 5px 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .2s ease;
    }


    .item-catogory h2 {
   
font-size: 19px;

    }


    .text-container-happyhour img {
        position: absolute;
        width: 35%;
        height: auto;
    }
 
    .item-list-happy-container {
   
        gap: 20px;
    }

    .happyhour-items {
   
        width: 200px;
height: 450px;

    }
  

    .happyhour-items img{
        filter: drop-shadow(2px 2px 14px #0000004e);
        position: relative;
        top: -60px;
        width: 130px;
        height: auto;
    }

    .item-list-happyhour {
        top: -50px;
        width: 95%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .item-list-happyhour h1 {
        color: #D3C4B4;
font-family: "inter";
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 2px;
    }

    .options-two-categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .options-two-categories h2 {
        width: 40px;
        color: #D3C4B4;
font-family: "inter";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }

   


    .happyhour-items button {
      margin-top: 15px;
font-size: 16px;
    }

    .left-side-summer-refresh {
        width: 50%;
        position: relative;
        height: auto;
    }

    .left-side-img {
        position: relative;
        width: 100%;
        height: 80vh;
        overflow: hidden;
    }


    
    }